## <center>Pandas

In Pandas there are two type of data structure.
<br>
1. Series: Is it 1-dimensional labeled array capable of holding data of any type (integer, string, float, python objects, e.t.c.) <br>It comes along with the index which is also called as axis. <br>Series contains homogenous data, meaning all the data inside the series 1-d array would be of same type.

2. DataFrame: It is a collection of one or more series objects. <br> So dataframe can be heterogenous in nature, as different series could comprise of different dtype.

In [1]:
#importing pandas
import pandas as pd

In [2]:
#Uploading a file
from google.colab import files
files.upload()

Saving pokemon_data.csv to pokemon_data.csv

{'pokemon_data.csv': b"#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary\r\n1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,FALSE\r\n2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,FALSE\r\n3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,FALSE\r\n3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,FALSE\r\n4,Charmander,Fire,,39,52,43,60,50,65,1,FALSE\r\n5,Charmeleon,Fire,,58,64,58,80,65,80,1,FALSE\r\n6,Charizard,Fire,Flying,78,84,78,109,85,100,1,FALSE\r\n6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,FALSE\r\n6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,FALSE\r\n7,Squirtle,Water,,44,48,65,50,64,43,1,FALSE\r\n8,Wartortle,Water,,59,63,80,65,80,58,1,FALSE\r\n9,Blastoise,Water,,79,83,100,85,105,78,1,FALSE\r\n9,BlastoiseMega Blastoise,Water,,79,103,120,135,115,78,1,FALSE\r\n10,Caterpie,Bug,,45,30,35,20,20,45,1,FALSE\r\n11,Metapod,Bug,,50,20,55,25,25,30,1,FALSE\r\n12,Butterfree,Bug,Flying,60,45,50,90,80,70,1,FALSE\r\n13,Weedle,Bug,Poison,40,35,30,20,20,50,1,FALSE\r\n14,Kakuna,Bug,Poison,45,25,50,25,25,35,1,FALSE\r\n15,Beedrill,Bug,Poison,65,90,40,45,80,75,1,FALSE\r\n15,BeedrillMega Beedrill,Bug,Poison,65,150,40,15,80,145,1,FALSE\r\n16,Pidgey,Normal,Flying,40,45,40,35,35,56,1,FALSE\r\n17,Pidgeotto,Normal,Flying,63,60,55,50,50,71,1,FALSE\r\n18,Pidgeot,Normal,Flying,83,80,75,70,70,101,1,FALSE\r\n18,PidgeotMega Pidgeot,Normal,Flying,83,80,80,135,80,121,1,FALSE\r\n19,Rattata,Normal,,30,56,35,25,35,72,1,FALSE\r\n20,Raticate,Normal,,55,81,60,50,70,97,1,FALSE\r\n21,Spearow,Normal,Flying,40,60,30,31,31,70,1,FALSE\r\n22,Fearow,Normal,Flying,65,90,65,61,61,100,1,FALSE\r\n23,Ekans,Poison,,35,60,44,40,54,55,1,FALSE\r\n24,Arbok,Poison,,60,85,69,65,79,80,1,FALSE\r\n25,Pikachu,Electric,,35,55,40,50,50,90,1,FALSE\r\n26,Raichu,Electric,,60,90,55,90,80,110,1,FALSE\r\n27,Sandshrew,Ground,,50,75,85,20,30,40,1,FALSE\r\n28,Sandslash,Ground,,75,100,110,45,55,65,1,FALSE\r\n29,Nidoran (Female),Poison,,55,47,52,40,40,41,1,FALSE\r\n30,Nidorina,Poison,,70,62,67,55,55,56,1,FALSE\r\n31,Nidoqueen,Poison,Ground,90,92,87,75,85,76,1,FALSE\r\n32,Nidoran (Male),Poison,,46,57,40,40,40,50,1,FALSE\r\n33,Nidorino,Poison,,61,72,57,55,55,65,1,FALSE\r\n34,Nidoking,Poison,Ground,81,102,77,85,75,85,1,FALSE\r\n35,Clefairy,Fairy,,70,45,48,60,65,35,1,FALSE\r\n36,Clefable,Fairy,,95,70,73,95,90,60,1,FALSE\r\n37,Vulpix,Fire,,38,41,40,50,65,65,1,FALSE\r\n38,Ninetales,Fire,,73,76,75,81,100,100,1,FALSE\r\n39,Jigglypuff,Normal,Fairy,115,45,20,45,25,20,1,FALSE\r\n40,Wigglytuff,Normal,Fairy,140,70,45,85,50,45,1,FALSE\r\n41,Zubat,Poison,Flying,40,45,35,30,40,55,1,FALSE\r\n42,Golbat,Poison,Flying,75,80,70,65,75,90,1,FALSE\r\n43,Oddish,Grass,Poison,45,50,55,75,65,30,1,FALSE\r\n44,Gloom,Grass,Poison,60,65,70,85,75,40,1,FALSE\r\n45,Vileplume,Grass,Poison,75,80,85,110,90,50,1,FALSE\r\n46,Paras,Bug,Grass,35,70,55,45,55,25,1,FALSE\r\n47,Parasect,Bug,Grass,60,95,80,60,80,30,1,FALSE\r\n48,Venonat,Bug,Poison,60,55,50,40,55,45,1,FALSE\r\n49,Venomoth,Bug,Poison,70,65,60,90,75,90,1,FALSE\r\n50,Diglett,Ground,,10,55,25,35,45,95,1,FALSE\r\n51,Dugtrio,Ground,,35,80,50,50,70,120,1,FALSE\r\n52,Meowth,Normal,,40,45,35,40,40,90,1,FALSE\r\n53,Persian,Normal,,65,70,60,65,65,115,1,FALSE\r\n54,Psyduck,Water,,50,52,48,65,50,55,1,FALSE\r\n55,Golduck,Water,,80,82,78,95,80,85,1,FALSE\r\n56,Mankey,Fighting,,40,80,35,35,45,70,1,FALSE\r\n57,Primeape,Fighting,,65,105,60,60,70,95,1,FALSE\r\n58,Growlithe,Fire,,55,70,45,70,50,60,1,FALSE\r\n59,Arcanine,Fire,,90,110,80,100,80,95,1,FALSE\r\n60,Poliwag,Water,,40,50,40,40,40,90,1,FALSE\r\n61,Poliwhirl,Water,,65,65,65,50,50,90,1,FALSE\r\n62,Poliwrath,Water,Fighting,90,95,95,70,90,70,1,FALSE\r\n63,Abra,Psychic,,25,20,15,105,55,90,1,FALSE\r\n64,Kadabra,Psychic,,40,35,30,120,70,105,1,FALSE\r\n65,Alakazam,Psychic,,55,50,45,135,95,120,1,FALSE\r\n65,AlakazamMega Alakazam,Psychic,,55,50,65,175,95,150,1,FALSE\r\n66,Machop,Fighting,,70,80,50,35,35,35,1,FALSE\r\n67,Machoke,Fighting,,80,100,70,50,60,45,1,FALSE\r\n68,Machamp,Fighting,,90,130,80,65,85,55,1,FALSE\r\n69,Bellsprout,Grass,Poison,50,75,35,70,30,40,1,FALSE\r\n70,Weepinbell,Grass,Poison,65,90,50,85,45,55,1,FALSE\r\n71,Victreebel,Grass,Poison,80,105,65,100,70,70,1,FALSE\r\n72,Tentacool,Water,Poison,40,40,35,50,100,70,1,FALSE\r\n73,Tentacruel,Water,Poison,80,70,65,80,120,100,1,FALSE\r\n74,Geodude,Rock,Ground,40,80,100,30,30,20,1,FALSE\r\n75,Graveler,Rock,Ground,55,95,115,45,45,35,1,FALSE\r\n76,Golem,Rock,Ground,80,120,130,55,65,45,1,FALSE\r\n77,Ponyta,Fire,,50,85,55,65,65,90,1,FALSE\r\n78,Rapidash,Fire,,65,100,70,80,80,105,1,FALSE\r\n79,Slowpoke,Water,Psychic,90,65,65,40,40,15,1,FALSE\r\n80,Slowbro,Water,Psychic,95,75,110,100,80,30,1,FALSE\r\n80,SlowbroMega Slowbro,Water,Psychic,95,75,180,130,80,30,1,FALSE\r\n81,Magnemite,Electric,Steel,25,35,70,95,55,45,1,FALSE\r\n82,Magneton,Electric,Steel,50,60,95,120,70,70,1,FALSE\r\n83,Farfetch'd,Normal,Flying,52,65,55,58,62,60,1,FALSE\r\n84,Doduo,Normal,Flying,35,85,45,35,35,75,1,FALSE\r\n85,Dodrio,Normal,Flying,60,110,70,60,60,100,1,FALSE\r\n86,Seel,Water,,65,45,55,45,70,45,1,FALSE\r\n87,Dewgong,Water,Ice,90,70,80,70,95,70,1,FALSE\r\n88,Grimer,Poison,,80,80,50,40,50,25,1,FALSE\r\n89,Muk,Poison,,105,105,75,65,100,50,1,FALSE\r\n90,Shellder,Water,,30,65,100,45,25,40,1,FALSE\r\n91,Cloyster,Water,Ice,50,95,180,85,45,70,1,FALSE\r\n92,Gastly,Ghost,Poison,30,35,30,100,35,80,1,FALSE\r\n93,Haunter,Ghost,Poison,45,50,45,115,55,95,1,FALSE\r\n94,Gengar,Ghost,Poison,60,65,60,130,75,110,1,FALSE\r\n94,GengarMega Gengar,Ghost,Poison,60,65,80,170,95,130,1,FALSE\r\n95,Onix,Rock,Ground,35,45,160,30,45,70,1,FALSE\r\n96,Drowzee,Psychic,,60,48,45,43,90,42,1,FALSE\r\n97,Hypno,Psychic,,85,73,70,73,115,67,1,FALSE\r\n98,Krabby,Water,,30,105,90,25,25,50,1,FALSE\r\n99,Kingler,Water,,55,130,115,50,50,75,1,FALSE\r\n100,Voltorb,Electric,,40,30,50,55,55,100,1,FALSE\r\n101,Electrode,Electric,,60,50,70,80,80,140,1,FALSE\r\n102,Exeggcute,Grass,Psychic,60,40,80,60,45,40,1,FALSE\r\n103,Exeggutor,Grass,Psychic,95,95,85,125,65,55,1,FALSE\r\n104,Cubone,Ground,,50,50,95,40,50,35,1,FALSE\r\n105,Marowak,Ground,,60,80,110,50,80,45,1,FALSE\r\n106,Hitmonlee,Fighting,,50,120,53,35,110,87,1,FALSE\r\n107,Hitmonchan,Fighting,,50,105,79,35,110,76,1,FALSE\r\n108,Lickitung,Normal,,90,55,75,60,75,30,1,FALSE\r\n109,Koffing,Poison,,40,65,95,60,45,35,1,FALSE\r\n110,Weezing,Poison,,65,90,120,85,70,60,1,FALSE\r\n111,Rhyhorn,Ground,Rock,80,85,95,30,30,25,1,FALSE\r\n112,Rhydon,Ground,Rock,105,130,120,45,45,40,1,FALSE\r\n113,Chansey,Normal,,250,5,5,35,105,50,1,FALSE\r\n114,Tangela,Grass,,65,55,115,100,40,60,1,FALSE\r\n115,Kangaskhan,Normal,,105,95,80,40,80,90,1,FALSE\r\n115,KangaskhanMega Kangaskhan,Normal,,105,125,100,60,100,100,1,FALSE\r\n116,Horsea,Water,,30,40,70,70,25,60,1,FALSE\r\n117,Seadra,Water,,55,65,95,95,45,85,1,FALSE\r\n118,Goldeen,Water,,45,67,60,35,50,63,1,FALSE\r\n119,Seaking,Water,,80,92,65,65,80,68,1,FALSE\r\n120,Staryu,Water,,30,45,55,70,55,85,1,FALSE\r\n121,Starmie,Water,Psychic,60,75,85,100,85,115,1,FALSE\r\n122,Mr. Mime,Psychic,Fairy,40,45,65,100,120,90,1,FALSE\r\n123,Scyther,Bug,Flying,70,110,80,55,80,105,1,FALSE\r\n124,Jynx,Ice,Psychic,65,50,35,115,95,95,1,FALSE\r\n125,Electabuzz,Electric,,65,83,57,95,85,105,1,FALSE\r\n126,Magmar,Fire,,65,95,57,100,85,93,1,FALSE\r\n127,Pinsir,Bug,,65,125,100,55,70,85,1,FALSE\r\n127,PinsirMega Pinsir,Bug,Flying,65,155,120,65,90,105,1,FALSE\r\n128,Tauros,Normal,,75,100,95,40,70,110,1,FALSE\r\n129,Magikarp,Water,,20,10,55,15,20,80,1,FALSE\r\n130,Gyarados,Water,Flying,95,125,79,60,100,81,1,FALSE\r\n130,GyaradosMega Gyarados,Water,Dark,95,155,109,70,130,81,1,FALSE\r\n131,Lapras,Water,Ice,130,85,80,85,95,60,1,FALSE\r\n132,Ditto,Normal,,48,48,48,48,48,48,1,FALSE\r\n133,Eevee,Normal,,55,55,50,45,65,55,1,FALSE\r\n134,Vaporeon,Water,,130,65,60,110,95,65,1,FALSE\r\n135,Jolteon,Electric,,65,65,60,110,95,130,1,FALSE\r\n136,Flareon,Fire,,65,130,60,95,110,65,1,FALSE\r\n137,Porygon,Normal,,65,60,70,85,75,40,1,FALSE\r\n138,Omanyte,Rock,Water,35,40,100,90,55,35,1,FALSE\r\n139,Omastar,Rock,Water,70,60,125,115,70,55,1,FALSE\r\n140,Kabuto,Rock,Water,30,80,90,55,45,55,1,FALSE\r\n141,Kabutops,Rock,Water,60,115,105,65,70,80,1,FALSE\r\n142,Aerodactyl,Rock,Flying,80,105,65,60,75,130,1,FALSE\r\n142,AerodactylMega Aerodactyl,Rock,Flying,80,135,85,70,95,150,1,FALSE\r\n143,Snorlax,Normal,,160,110,65,65,110,30,1,FALSE\r\n144,Articuno,Ice,Flying,90,85,100,95,125,85,1,TRUE\r\n145,Zapdos,Electric,Flying,90,90,85,125,90,100,1,TRUE\r\n146,Moltres,Fire,Flying,90,100,90,125,85,90,1,TRUE\r\n147,Dratini,Dragon,,41,64,45,50,50,50,1,FALSE\r\n148,Dragonair,Dragon,,61,84,65,70,70,70,1,FALSE\r\n149,Dragonite,Dragon,Flying,91,134,95,100,100,80,1,FALSE\r\n150,Mewtwo,Psychic,,106,110,90,154,90,130,1,TRUE\r\n150,MewtwoMega Mewtwo X,Psychic,Fighting,106,190,100,154,100,130,1,TRUE\r\n150,MewtwoMega Mewtwo Y,Psychic,,106,150,70,194,120,140,1,TRUE\r\n151,Mew,Psychic,,100,100,100,100,100,100,1,FALSE\r\n152,Chikorita,Grass,,45,49,65,49,65,45,2,FALSE\r\n153,Bayleef,Grass,,60,62,80,63,80,60,2,FALSE\r\n154,Meganium,Grass,,80,82,100,83,100,80,2,FALSE\r\n155,Cyndaquil,Fire,,39,52,43,60,50,65,2,FALSE\r\n156,Quilava,Fire,,58,64,58,80,65,80,2,FALSE\r\n157,Typhlosion,Fire,,78,84,78,109,85,100,2,FALSE\r\n158,Totodile,Water,,50,65,64,44,48,43,2,FALSE\r\n159,Croconaw,Water,,65,80,80,59,63,58,2,FALSE\r\n160,Feraligatr,Water,,85,105,100,79,83,78,2,FALSE\r\n161,Sentret,Normal,,35,46,34,35,45,20,2,FALSE\r\n162,Furret,Normal,,85,76,64,45,55,90,2,FALSE\r\n163,Hoothoot,Normal,Flying,60,30,30,36,56,50,2,FALSE\r\n164,Noctowl,Normal,Flying,100,50,50,76,96,70,2,FALSE\r\n165,Ledyba,Bug,Flying,40,20,30,40,80,55,2,FALSE\r\n166,Ledian,Bug,Flying,55,35,50,55,110,85,2,FALSE\r\n167,Spinarak,Bug,Poison,40,60,40,40,40,30,2,FALSE\r\n168,Ariados,Bug,Poison,70,90,70,60,60,40,2,FALSE\r\n169,Crobat,Poison,Flying,85,90,80,70,80,130,2,FALSE\r\n170,Chinchou,Water,Electric,75,38,38,56,56,67,2,FALSE\r\n171,Lanturn,Water,Electric,125,58,58,76,76,67,2,FALSE\r\n172,Pichu,Electric,,20,40,15,35,35,60,2,FALSE\r\n173,Cleffa,Fairy,,50,25,28,45,55,15,2,FALSE\r\n174,Igglybuff,Normal,Fairy,90,30,15,40,20,15,2,FALSE\r\n175,Togepi,Fairy,,35,20,65,40,65,20,2,FALSE\r\n176,Togetic,Fairy,Flying,55,40,85,80,105,40,2,FALSE\r\n177,Natu,Psychic,Flying,40,50,45,70,45,70,2,FALSE\r\n178,Xatu,Psychic,Flying,65,75,70,95,70,95,2,FALSE\r\n179,Mareep,Electric,,55,40,40,65,45,35,2,FALSE\r\n180,Flaaffy,Electric,,70,55,55,80,60,45,2,FALSE\r\n181,Ampharos,Electric,,90,75,85,115,90,55,2,FALSE\r\n181,AmpharosMega Ampharos,Electric,Dragon,90,95,105,165,110,45,2,FALSE\r\n182,Bellossom,Grass,,75,80,95,90,100,50,2,FALSE\r\n183,Marill,Water,Fairy,70,20,50,20,50,40,2,FALSE\r\n184,Azumarill,Water,Fairy,100,50,80,60,80,50,2,FALSE\r\n185,Sudowoodo,Rock,,70,100,115,30,65,30,2,FALSE\r\n186,Politoed,Water,,90,75,75,90,100,70,2,FALSE\r\n187,Hoppip,Grass,Flying,35,35,40,35,55,50,2,FALSE\r\n188,Skiploom,Grass,Flying,55,45,50,45,65,80,2,FALSE\r\n189,Jumpluff,Grass,Flying,75,55,70,55,95,110,2,FALSE\r\n190,Aipom,Normal,,55,70,55,40,55,85,2,FALSE\r\n191,Sunkern,Grass,,30,30,30,30,30,30,2,FALSE\r\n192,Sunflora,Grass,,75,75,55,105,85,30,2,FALSE\r\n193,Yanma,Bug,Flying,65,65,45,75,45,95,2,FALSE\r\n194,Wooper,Water,Ground,55,45,45,25,25,15,2,FALSE\r\n195,Quagsire,Water,Ground,95,85,85,65,65,35,2,FALSE\r\n196,Espeon,Psychic,,65,65,60,130,95,110,2,FALSE\r\n197,Umbreon,Dark,,95,65,110,60,130,65,2,FALSE\r\n198,Murkrow,Dark,Flying,60,85,42,85,42,91,2,FALSE\r\n199,Slowking,Water,Psychic,95,75,80,100,110,30,2,FALSE\r\n200,Misdreavus,Ghost,,60,60,60,85,85,85,2,FALSE\r\n201,Unown,Psychic,,48,72,48,72,48,48,2,FALSE\r\n202,Wobbuffet,Psychic,,190,33,58,33,58,33,2,FALSE\r\n203,Girafarig,Normal,Psychic,70,80,65,90,65,85,2,FALSE\r\n204,Pineco,Bug,,50,65,90,35,35,15,2,FALSE\r\n205,Forretress,Bug,Steel,75,90,140,60,60,40,2,FALSE\r\n206,Dunsparce,Normal,,100,70,70,65,65,45,2,FALSE\r\n207,Gligar,Ground,Flying,65,75,105,35,65,85,2,FALSE\r\n208,Steelix,Steel,Ground,75,85,200,55,65,30,2,FALSE\r\n208,SteelixMega Steelix,Steel,Ground,75,125,230,55,95,30,2,FALSE\r\n209,Snubbull,Fairy,,60,80,50,40,40,30,2,FALSE\r\n210,Granbull,Fairy,,90,120,75,60,60,45,2,FALSE\r\n211,Qwilfish,Water,Poison,65,95,75,55,55,85,2,FALSE\r\n212,Scizor,Bug,Steel,70,130,100,55,80,65,2,FALSE\r\n212,ScizorMega Scizor,Bug,Steel,70,150,140,65,100,75,2,FALSE\r\n213,Shuckle,Bug,Rock,20,10,230,10,230,5,2,FALSE\r\n214,Heracross,Bug,Fighting,80,125,75,40,95,85,2,FALSE\r\n214,HeracrossMega Heracross,Bug,Fighting,80,185,115,40,105,75,2,FALSE\r\n215,Sneasel,Dark,Ice,55,95,55,35,75,115,2,FALSE\r\n216,Teddiursa,Normal,,60,80,50,50,50,40,2,FALSE\r\n217,Ursaring,Normal,,90,130,75,75,75,55,2,FALSE\r\n218,Slugma,Fire,,40,40,40,70,40,20,2,FALSE\r\n219,Magcargo,Fire,Rock,50,50,120,80,80,30,2,FALSE\r\n220,Swinub,Ice,Ground,50,50,40,30,30,50,2,FALSE\r\n221,Piloswine,Ice,Ground,100,100,80,60,60,50,2,FALSE\r\n222,Corsola,Water,Rock,55,55,85,65,85,35,2,FALSE\r\n223,Remoraid,Water,,35,65,35,65,35,65,2,FALSE\r\n224,Octillery,Water,,75,105,75,105,75,45,2,FALSE\r\n225,Delibird,Ice,Flying,45,55,45,65,45,75,2,FALSE\r\n226,Mantine,Water,Flying,65,40,70,80,140,70,2,FALSE\r\n227,Skarmory,Steel,Flying,65,80,140,40,70,70,2,FALSE\r\n228,Houndour,Dark,Fire,45,60,30,80,50,65,2,FALSE\r\n229,Houndoom,Dark,Fire,75,90,50,110,80,95,2,FALSE\r\n229,HoundoomMega Houndoom,Dark,Fire,75,90,90,140,90,115,2,FALSE\r\n230,Kingdra,Water,Dragon,75,95,95,95,95,85,2,FALSE\r\n231,Phanpy,Ground,,90,60,60,40,40,40,2,FALSE\r\n232,Donphan,Ground,,90,120,120,60,60,50,2,FALSE\r\n233,Porygon2,Normal,,85,80,90,105,95,60,2,FALSE\r\n234,Stantler,Normal,,73,95,62,85,65,85,2,FALSE\r\n235,Smeargle,Normal,,55,20,35,20,45,75,2,FALSE\r\n236,Tyrogue,Fighting,,35,35,35,35,35,35,2,FALSE\r\n237,Hitmontop,Fighting,,50,95,95,35,110,70,2,FALSE\r\n238,Smoochum,Ice,Psychic,45,30,15,85,65,65,2,FALSE\r\n239,Elekid,Electric,,45,63,37,65,55,95,2,FALSE\r\n240,Magby,Fire,,45,75,37,70,55,83,2,FALSE\r\n241,Miltank,Normal,,95,80,105,40,70,100,2,FALSE\r\n242,Blissey,Normal,,255,10,10,75,135,55,2,FALSE\r\n243,Raikou,Electric,,90,85,75,115,100,115,2,TRUE\r\n244,Entei,Fire,,115,115,85,90,75,100,2,TRUE\r\n245,Suicune,Water,,100,75,115,90,115,85,2,TRUE\r\n246,Larvitar,Rock,Ground,50,64,50,45,50,41,2,FALSE\r\n247,Pupitar,Rock,Ground,70,84,70,65,70,51,2,FALSE\r\n248,Tyranitar,Rock,Dark,100,134,110,95,100,61,2,FALSE\r\n248,TyranitarMega Tyranitar,Rock,Dark,100,164,150,95,120,71,2,FALSE\r\n249,Lugia,Psychic,Flying,106,90,130,90,154,110,2,TRUE\r\n250,Ho-oh,Fire,Flying,106,130,90,110,154,90,2,TRUE\r\n251,Celebi,Psychic,Grass,100,100,100,100,100,100,2,FALSE\r\n252,Treecko,Grass,,40,45,35,65,55,70,3,FALSE\r\n253,Grovyle,Grass,,50,65,45,85,65,95,3,FALSE\r\n254,Sceptile,Grass,,70,85,65,105,85,120,3,FALSE\r\n254,SceptileMega Sceptile,Grass,Dragon,70,110,75,145,85,145,3,FALSE\r\n255,Torchic,Fire,,45,60,40,70,50,45,3,FALSE\r\n256,Combusken,Fire,Fighting,60,85,60,85,60,55,3,FALSE\r\n257,Blaziken,Fire,Fighting,80,120,70,110,70,80,3,FALSE\r\n257,BlazikenMega Blaziken,Fire,Fighting,80,160,80,130,80,100,3,FALSE\r\n258,Mudkip,Water,,50,70,50,50,50,40,3,FALSE\r\n259,Marshtomp,Water,Ground,70,85,70,60,70,50,3,FALSE\r\n260,Swampert,Water,Ground,100,110,90,85,90,60,3,FALSE\r\n260,SwampertMega Swampert,Water,Ground,100,150,110,95,110,70,3,FALSE\r\n261,Poochyena,Dark,,35,55,35,30,30,35,3,FALSE\r\n262,Mightyena,Dark,,70,90,70,60,60,70,3,FALSE\r\n263,Zigzagoon,Normal,,38,30,41,30,41,60,3,FALSE\r\n264,Linoone,Normal,,78,70,61,50,61,100,3,FALSE\r\n265,Wurmple,Bug,,45,45,35,20,30,20,3,FALSE\r\n266,Silcoon,Bug,,50,35,55,25,25,15,3,FALSE\r\n267,Beautifly,Bug,Flying,60,70,50,100,50,65,3,FALSE\r\n268,Cascoon,Bug,,50,35,55,25,25,15,3,FALSE\r\n269,Dustox,Bug,Poison,60,50,70,50,90,65,3,FALSE\r\n270,Lotad,Water,Grass,40,30,30,40,50,30,3,FALSE\r\n271,Lombre,Water,Grass,60,50,50,60,70,50,3,FALSE\r\n272,Ludicolo,Water,Grass,80,70,70,90,100,70,3,FALSE\r\n273,Seedot,Grass,,40,40,50,30,30,30,3,FALSE\r\n274,Nuzleaf,Grass,Dark,70,70,40,60,40,60,3,FALSE\r\n275,Shiftry,Grass,Dark,90,100,60,90,60,80,3,FALSE\r\n276,Taillow,Normal,Flying,40,55,30,30,30,85,3,FALSE\r\n277,Swellow,Normal,Flying,60,85,60,50,50,125,3,FALSE\r\n278,Wingull,Water,Flying,40,30,30,55,30,85,3,FALSE\r\n279,Pelipper,Water,Flying,60,50,100,85,70,65,3,FALSE\r\n280,Ralts,Psychic,Fairy,28,25,25,45,35,40,3,FALSE\r\n281,Kirlia,Psychic,Fairy,38,35,35,65,55,50,3,FALSE\r\n282,Gardevoir,Psychic,Fairy,68,65,65,125,115,80,3,FALSE\r\n282,GardevoirMega Gardevoir,Psychic,Fairy,68,85,65,165,135,100,3,FALSE\r\n283,Surskit,Bug,Water,40,30,32,50,52,65,3,FALSE\r\n284,Masquerain,Bug,Flying,70,60,62,80,82,60,3,FALSE\r\n285,Shroomish,Grass,,60,40,60,40,60,35,3,FALSE\r\n286,Breloom,Grass,Fighting,60,130,80,60,60,70,3,FALSE\r\n287,Slakoth,Normal,,60,60,60,35,35,30,3,FALSE\r\n288,Vigoroth,Normal,,80,80,80,55,55,90,3,FALSE\r\n289,Slaking,Normal,,150,160,100,95,65,100,3,FALSE\r\n290,Nincada,Bug,Ground,31,45,90,30,30,40,3,FALSE\r\n291,Ninjask,Bug,Flying,61,90,45,50,50,160,3,FALSE\r\n292,Shedinja,Bug,Ghost,1,90,45,30,30,40,3,FALSE\r\n293,Whismur,Normal,,64,51,23,51,23,28,3,FALSE\r\n294,Loudred,Normal,,84,71,43,71,43,48,3,FALSE\r\n295,Exploud,Normal,,104,91,63,91,73,68,3,FALSE\r\n296,Makuhita,Fighting,,72,60,30,20,30,25,3,FALSE\r\n297,Hariyama,Fighting,,144,120,60,40,60,50,3,FALSE\r\n298,Azurill,Normal,Fairy,50,20,40,20,40,20,3,FALSE\r\n299,Nosepass,Rock,,30,45,135,45,90,30,3,FALSE\r\n300,Skitty,Normal,,50,45,45,35,35,50,3,FALSE\r\n301,Delcatty,Normal,,70,65,65,55,55,70,3,FALSE\r\n302,Sableye,Dark,Ghost,50,75,75,65,65,50,3,FALSE\r\n302,SableyeMega Sableye,Dark,Ghost,50,85,125,85,115,20,3,FALSE\r\n303,Mawile,Steel,Fairy,50,85,85,55,55,50,3,FALSE\r\n303,MawileMega Mawile,Steel,Fairy,50,105,125,55,95,50,3,FALSE\r\n304,Aron,Steel,Rock,50,70,100,40,40,30,3,FALSE\r\n305,Lairon,Steel,Rock,60,90,140,50,50,40,3,FALSE\r\n306,Aggron,Steel,Rock,70,110,180,60,60,50,3,FALSE\r\n306,AggronMega Aggron,Steel,,70,140,230,60,80,50,3,FALSE\r\n307,Meditite,Fighting,Psychic,30,40,55,40,55,60,3,FALSE\r\n308,Medicham,Fighting,Psychic,60,60,75,60,75,80,3,FALSE\r\n308,MedichamMega Medicham,Fighting,Psychic,60,100,85,80,85,100,3,FALSE\r\n309,Electrike,Electric,,40,45,40,65,40,65,3,FALSE\r\n310,Manectric,Electric,,70,75,60,105,60,105,3,FALSE\r\n310,ManectricMega Manectric,Electric,,70,75,80,135,80,135,3,FALSE\r\n311,Plusle,Electric,,60,50,40,85,75,95,3,FALSE\r\n312,Minun,Electric,,60,40,50,75,85,95,3,FALSE\r\n313,Volbeat,Bug,,65,73,55,47,75,85,3,FALSE\r\n314,Illumise,Bug,,65,47,55,73,75,85,3,FALSE\r\n315,Roselia,Grass,Poison,50,60,45,100,80,65,3,FALSE\r\n316,Gulpin,Poison,,70,43,53,43,53,40,3,FALSE\r\n317,Swalot,Poison,,100,73,83,73,83,55,3,FALSE\r\n318,Carvanha,Water,Dark,45,90,20,65,20,65,3,FALSE\r\n319,Sharpedo,Water,Dark,70,120,40,95,40,95,3,FALSE\r\n319,SharpedoMega Sharpedo,Water,Dark,70,140,70,110,65,105,3,FALSE\r\n320,Wailmer,Water,,130,70,35,70,35,60,3,FALSE\r\n321,Wailord,Water,,170,90,45,90,45,60,3,FALSE\r\n322,Numel,Fire,Ground,60,60,40,65,45,35,3,FALSE\r\n323,Camerupt,Fire,Ground,70,100,70,105,75,40,3,FALSE\r\n323,CameruptMega Camerupt,Fire,Ground,70,120,100,145,105,20,3,FALSE\r\n324,Torkoal,Fire,,70,85,140,85,70,20,3,FALSE\r\n325,Spoink,Psychic,,60,25,35,70,80,60,3,FALSE\r\n326,Grumpig,Psychic,,80,45,65,90,110,80,3,FALSE\r\n327,Spinda,Normal,,60,60,60,60,60,60,3,FALSE\r\n328,Trapinch,Ground,,45,100,45,45,45,10,3,FALSE\r\n329,Vibrava,Ground,Dragon,50,70,50,50,50,70,3,FALSE\r\n330,Flygon,Ground,Dragon,80,100,80,80,80,100,3,FALSE\r\n331,Cacnea,Grass,,50,85,40,85,40,35,3,FALSE\r\n332,Cacturne,Grass,Dark,70,115,60,115,60,55,3,FALSE\r\n333,Swablu,Normal,Flying,45,40,60,40,75,50,3,FALSE\r\n334,Altaria,Dragon,Flying,75,70,90,70,105,80,3,FALSE\r\n334,AltariaMega Altaria,Dragon,Fairy,75,110,110,110,105,80,3,FALSE\r\n335,Zangoose,Normal,,73,115,60,60,60,90,3,FALSE\r\n336,Seviper,Poison,,73,100,60,100,60,65,3,FALSE\r\n337,Lunatone,Rock,Psychic,70,55,65,95,85,70,3,FALSE\r\n338,Solrock,Rock,Psychic,70,95,85,55,65,70,3,FALSE\r\n339,Barboach,Water,Ground,50,48,43,46,41,60,3,FALSE\r\n340,Whiscash,Water,Ground,110,78,73,76,71,60,3,FALSE\r\n341,Corphish,Water,,43,

#Initialization

In [3]:
#Series initialization
a = pd.Series([1, 2, 3.0])
a

0    1.0
1    2.0
2    3.0
dtype: float64

Dataframe can be initialized from 
<br> a) lists 
<br> b) Dictionaries

In [4]:
print('Data passed as list')
df_list = pd.DataFrame([['May1',32],['May2',35],['May3',40],['May4',50]])
print(df_list)

Data passed as list
      0   1
0  May1  32
1  May2  35
2  May3  40
3  May4  50

In [5]:
print('Data passed as dictionary')
df_dict = pd.DataFrame({"A": [1, 2, 3], "B": [4, 5, 6]},dtype = float)
print(df_dict)

Data passed as dictionary
     A    B
0  1.0  4.0
1  2.0  5.0
2  3.0  6.0

#Column and Indexes
In case of dictionary the keys would act as columns but in lists, the column names if not specified will start as '0'-1st column, '1'-2nd Column and so on. <br> The left most part of the dataframe is called as index, it's starts default with index 0

In [6]:
#Listing the columns
print(df_dict.columns)

Index(['A', 'B'], dtype='object')

In [7]:
#rename columns
df_dict.rename(columns={'A':'a'}) 
# inplace by default is false
# if inplace = True is not set then the changes are not made on the original df but only a temp df is made with changes
df_dict

     A    B
0  1.0  4.0
1  2.0  5.0
2  3.0  6.0

In [8]:
# changes made for original df
df_dict.rename(columns={'A':'c'},inplace=True)
df_dict

     c    B
0  1.0  4.0
1  2.0  5.0
2  3.0  6.0

In [9]:
# Reset column names
# Tip: remeber to pass the entire list in this case
df_dict.columns = ['a','b']
df_dict.head()

     a    b
0  1.0  4.0
1  2.0  5.0
2  3.0  6.0

In [10]:
#defining columns, index during dataframe creation
df_temp = pd.DataFrame([['May1',32],['May2',35],['May3',40],['May4',50]],index = ['Day1','Day2','Day3','Day4'],columns = ['May','Temperature'])
df_temp

       May  Temperature
Day1  May1           32
Day2  May2           35
Day3  May3           40
Day4  May4           50

reset_index: To drop index and bring pandas default sequential form of 0,1...

In [11]:
df_temp.reset_index(drop=True,inplace=False)
# Here drop=True means we want to drop the original index we have and reset to default value

    May  Temperature
0  May1           32
1  May2           35
2  May3           40
3  May4           50

In [12]:
#We can also make a column as index
df_temp = pd.DataFrame([['May1',32],['May2',35],['May3',40],['May4',50]],columns = ['May','Temperature'])
df_temp.set_index('May')

      Temperature
May
May1           32
May2           35
May3           40
May4           50

Q. What are the columns/index of df_temp after the above code is executed?

In [13]:
# Reading data from a csv file
#index_col describes which column we want to set as the index
#head function is used to print first n rows of the dataframe, here n=10 in our case
pokemon_data = pd.read_csv('pokemon_data.csv',index_col = 0)
pokemon_data.head(5)

                    Name Type 1  Type 2  ...  Speed  Generation  Legendary
#                                        ...
1              Bulbasaur  Grass  Poison  ...     45           1      False
2                Ivysaur  Grass  Poison  ...     60           1      False
3               Venusaur  Grass  Poison  ...     80           1      False
3  VenusaurMega Venusaur  Grass  Poison  ...     80           1      False
4             Charmander   Fire     NaN  ...     65           1      False

[5 rows x 11 columns]

Q. In the above pokemon data, index does not start from 0, reset the index for it inplace.

In [ ]:
#Ans

# Basic Data Statistics

In [14]:
#describe function will compute basic statistics as shown below as for each column
pokemon_data.describe()
#Note: Stats are not calculated for object or string dtype

               HP      Attack     Defense  ...     Sp. Def       Speed  Generation
count  800.000000  800.000000  800.000000  ...  800.000000  800.000000   800.00000
mean    69.258750   79.001250   73.842500  ...   71.902500   68.277500     3.32375
std     25.534669   32.457366   31.183501  ...   27.828916   29.060474     1.66129
min      1.000000    5.000000    5.000000  ...   20.000000    5.000000     1.00000
25%     50.000000   55.000000   50.000000  ...   50.000000   45.000000     2.00000
50%     65.000000   75.000000   70.000000  ...   70.000000   65.000000     3.00000
75%     80.000000  100.000000   90.000000  ...   90.000000   90.000000     5.00000
max    255.000000  190.000000  230.000000  ...  230.000000  180.000000     6.00000

[8 rows x 7 columns]

In [15]:
#Check the type of each column it will be Series datatype
print(pokemon_data.dtypes)

Name          object
Type 1        object
Type 2        object
HP             int64
Attack         int64
Defense        int64
Sp. Atk        int64
Sp. Def        int64
Speed          int64
Generation     int64
Legendary       bool
dtype: object

***value_counts***

calculate occurences in a column

return type is series object with index as category and counts as column

In [16]:
pokemon_data['Type 2'].value_counts()
#pokemon_data['Type 2'].value_counts().reset_index().rename(columns={'index':'Type 2','Type 2':'Counts'})

Flying      97
Ground      35
Poison      34
Psychic     33
Fighting    26
Grass       25
Fairy       23
Steel       22
Dark        20
Dragon      18
Water       14
Rock        14
Ice         14
Ghost       14
Fire        12
Electric     6
Normal       4
Bug          3
Name: Type 2, dtype: int64

In [17]:
print(pokemon_data['HP'].mean())
print(pokemon_data['HP'].max())
print(pokemon_data['HP'].min())
print(pokemon_data['HP'].std())
print(pokemon_data['HP'].sum())

69.25875
255
1
25.534669032332047
55407

Q. What if I want to do some calculation for each row instead of column?
#Axis

axis denotes the dimension of dataframe. <br>
axis = 0, also the axis of index/rows. Thus calculations are done at column level. <br>
axis = 1, also axis of columns. Calculations are done for each row <br>
For added clarity, you can specify axis='index' (instead of axis=0) or axis='columns' (instead of axis=1).


![image.png]()

In [18]:
df_dummy = pd.DataFrame([[2,-2],[1,-1]])
df_dummy

   0  1
0  2 -2
1  1 -1

In [19]:
#summation on axis 0 or for each column
df_dummy.sum(axis=0)

0    3
1   -3
dtype: int64

In [20]:
#summation on axis 1 or for each column
df_dummy.sum(axis=1)

0    0
1    0
dtype: int64

#NaN

NaN (Not a number)- It is a special floating point number (like inifinity) and is an indication of no data.

In [21]:
#NaN 
df_nan = pd.DataFrame([{'a': 1, 'b': 2},{'a': 5, 'b': 10,'c':20}])
print(df_nan)
#Notice column c is of type float due to NaN

   a   b     c
0  1   2   NaN
1  5  10  20.0

Isnull function: Used to check existence of NaN/ Null values.

In [22]:
print(df_nan.isnull())
#isnull working -- assigns each data point in the dataframe with True or False
#return dataframe filled with True or False

       a      b      c
0  False  False   True
1  False  False  False

In [23]:
#To count how many NaN, use sum function on the result of isnull
print(df_nan.isnull().sum())

a    0
b    0
c    1
dtype: int64

Q. Which columns in pokemon data have null values

In [24]:
#Ans

#Data Manipulation

In [25]:
df = pd.DataFrame([['May1',32],['May2',35],['May3',40],['May4',50]],index = ['Day1','Day2','Day3','Day4'],columns = ['May','Temperature'])

Accessing Values

In [26]:
#Access column by name
print(df['Temperature'])

Day1    32
Day2    35
Day3    40
Day4    50
Name: Temperature, dtype: int64

In [27]:
#Multiple column access
df[['Temperature','May']]

      Temperature   May
Day1           32  May1
Day2           35  May2
Day3           40  May3
Day4           50  May4

![alt text](https://i.pinimg.com/474x/1d/9c/4f/1d9c4f968514e734196ab19db2e5f281.jpg)

In [28]:
print(type(df.iloc[1]))
print(df.iloc[1])

<class 'pandas.core.series.Series'>
May            May2
Temperature      35
Name: Day2, dtype: object

In [29]:
print('range of index wise selection in discrete manner')
print(df.iloc[[1,2,3]])

range of index wise selection in discrete manner
       May  Temperature
Day2  May2           35
Day3  May3           40
Day4  May4           50

In [30]:
print('Get single value')
print(df.iloc[0,0])

Get single value
May1

In [32]:
print('Complete row wise and partial column wise')
print(df.iloc[:,1])

Complete row wise and partial column wise
Day1    32
Day2    35
Day3    40
Day4    50
Name: Temperature, dtype: int64

Q. Select first 5 columns of pokemon dataset

In [ ]:
#Ans

In [33]:
#Adding columns
#Notice the difference
add_column = pd.Series(['95 street','barclays ave','jay street','newport'],index=['Day1','Day3','Day2','Day4'])
df['Stations'] = add_column
df['Stations2'] = pd.Series(['95 street','barclays ave','jay street','newport'])
print(df)
#either specify index or add as python list instead of series
df['Stations2'] = ['95 street','barclays ave','jay street','newport']
print(df)

       May  Temperature      Stations Stations2
Day1  May1           32     95 street       NaN
Day2  May2           35    jay street       NaN
Day3  May3           40  barclays ave       NaN
Day4  May4           50       newport       NaN
       May  Temperature      Stations     Stations2
Day1  May1           32     95 street     95 street
Day2  May2           35    jay street  barclays ave
Day3  May3           40  barclays ave    jay street
Day4  May4           50       newport       newport

In [34]:
#New column using existing column
df['Wind Speed'] = df['Temperature']*0.414
print(df)

       May  Temperature      Stations     Stations2  Wind Speed
Day1  May1           32     95 street     95 street      13.248
Day2  May2           35    jay street  barclays ave      14.490
Day3  May3           40  barclays ave    jay street      16.560
Day4  May4           50       newport       newport      20.700

In [35]:
#Coulmn addition (with same data type)
df['Add_Temp_Wind'] = df['Temperature'] + df['Wind Speed']
print(df)

       May  Temperature      Stations     Stations2  Wind Speed  Add_Temp_Wind
Day1  May1           32     95 street     95 street      13.248         45.248
Day2  May2           35    jay street  barclays ave      14.490         49.490
Day3  May3           40  barclays ave    jay street      16.560         56.560
Day4  May4           50       newport       newport      20.700         70.700

In [36]:
#Cahnging values using loc/iloc
df.iloc[0,0] = 'May11'
print(df)

        May  Temperature      Stations     Stations2  Wind Speed  Add_Temp_Wind
Day1  May11           32     95 street     95 street      13.248         45.248
Day2   May2           35    jay street  barclays ave      14.490         49.490
Day3   May3           40  barclays ave    jay street      16.560         56.560
Day4   May4           50       newport       newport      20.700         70.700

In [37]:
#Changing entire row/column using iloc/loc
df.iloc[0] = ['May1',35,'86 street','95 Street',12,44]
print(df)

       May  Temperature      Stations     Stations2  Wind Speed  Add_Temp_Wind
Day1  May1           35     86 street     95 Street       12.00          44.00
Day2  May2           35    jay street  barclays ave       14.49          49.49
Day3  May3           40  barclays ave    jay street       16.56          56.56
Day4  May4           50       newport       newport       20.70          70.70

Column deletion

In [38]:
#drop function
#can be used to drop based on column or index 
df['Add_Temp_Wind'] = df['Temperature'] + df['Wind Speed']
print(df)
df.drop('Add_Temp_Wind',axis=1,inplace=True)
print(df)

       May  Temperature      Stations     Stations2  Wind Speed  Add_Temp_Wind
Day1  May1           35     86 street     95 Street       12.00          47.00
Day2  May2           35    jay street  barclays ave       14.49          49.49
Day3  May3           40  barclays ave    jay street       16.56          56.56
Day4  May4           50       newport       newport       20.70          70.70
       May  Temperature      Stations     Stations2  Wind Speed
Day1  May1           35     86 street     95 Street       12.00
Day2  May2           35    jay street  barclays ave       14.49
Day3  May3           40  barclays ave    jay street       16.56
Day4  May4           50       newport       newport       20.70

In [39]:
#Drop row of a dataframe
#use drop function and pass the indexed index or name of that index
df.drop(df.index[0])  #inplace=False

       May  Temperature      Stations     Stations2  Wind Speed
Day2  May2           35    jay street  barclays ave       14.49
Day3  May3           40  barclays ave    jay street       16.56
Day4  May4           50       newport       newport       20.70

In [40]:
#By index name
df.drop('Day2',axis=0)

       May  Temperature      Stations   Stations2  Wind Speed
Day1  May1           35     86 street   95 Street       12.00
Day3  May3           40  barclays ave  jay street       16.56
Day4  May4           50       newport     newport       20.70

Q. Select data for Temperature and wind speed column by using loc method

In [41]:
#Ans

Condition based filtering

In [42]:
#Syntax ----- data.loc['Condition(s)']
#Coditions generate a mask df of booleans which is used to select relevant rows from original dataframe
df['Temperature'] > 40

Day1    False
Day2    False
Day3    False
Day4     True
Name: Temperature, dtype: bool

In [43]:
#Selection part
df[df['Temperature'] > 40]

       May  Temperature Stations Stations2  Wind Speed
Day4  May4           50  newport   newport        20.7

In [44]:
#Complex selection
df[(df['Temperature'] > 30) & (df['Wind Speed']<20)]

       May  Temperature      Stations     Stations2  Wind Speed
Day1  May1           35     86 street     95 Street       12.00
Day2  May2           35    jay street  barclays ave       14.49
Day3  May3           40  barclays ave    jay street       16.56

Q. What is the count of pokemon that have null in type 2?

In [45]:
#Ans

In [46]:
#Getting unique values for column 'Type 1' with help of unique function
#The return type is ndarray which consist of n rows an d columns 
#(18,) - Represents 18 rows and 1 column 
print(pokemon_data['Type 1'].unique())
print(type(pokemon_data['Type 1'].unique()))
print(pokemon_data['Type 1'].unique().shape)

['Grass' 'Fire' 'Water' 'Bug' 'Normal' 'Poison' 'Electric' 'Ground'
 'Fairy' 'Fighting' 'Psychic' 'Rock' 'Ghost' 'Ice' 'Dragon' 'Dark' 'Steel'
 'Flying']
<class 'numpy.ndarray'>
(18,)

#Data Cleanup

dropna

In [47]:
#removing null containing rows
pokemon_data.dropna()
#since inplace is not set, values/rows will not be removed

                      Name   Type 1  Type 2  ...  Speed  Generation  Legendary
#                                            ...
1                Bulbasaur    Grass  Poison  ...     45           1      False
2                  Ivysaur    Grass  Poison  ...     60           1      False
3                 Venusaur    Grass  Poison  ...     80           1      False
3    VenusaurMega Venusaur    Grass  Poison  ...     80           1      False
6                Charizard     Fire  Flying  ...    100           1      False
..                     ...      ...     ...  ...    ...         ...        ...
719                Diancie     Rock   Fairy  ...     50           6       True
719    DiancieMega Diancie     Rock   Fairy  ...    110           6       True
720    HoopaHoopa Confined  Psychic   Ghost  ...     70           6       True
720     HoopaHoopa Unbound  Psychic    Dark  ...     80           6       True
721              Volcanion     Fire   Water  ...     70           6       True

[414 rows x 11 columns]

using masking

In [50]:
#Masking and use of loc
#Converting to string datatype with astype
pokemon_data['Type 2'] = pokemon_data['Type 2'].astype(str)
mask = (pokemon_data['Type 2'] != 'nan')
pk_data = pokemon_data.loc[mask]
pk_data

                      Name   Type 1  Type 2  ...  Speed  Generation  Legendary
#                                            ...
1                Bulbasaur    Grass  Poison  ...     45           1      False
2                  Ivysaur    Grass  Poison  ...     60           1      False
3                 Venusaur    Grass  Poison  ...     80           1      False
3    VenusaurMega Venusaur    Grass  Poison  ...     80           1      False
6                Charizard     Fire  Flying  ...    100           1      False
..                     ...      ...     ...  ...    ...         ...        ...
719                Diancie     Rock   Fairy  ...     50           6       True
719    DiancieMega Diancie     Rock   Fairy  ...    110           6       True
720    HoopaHoopa Confined  Psychic   Ghost  ...     70           6       True
720     HoopaHoopa Unbound  Psychic    Dark  ...     80           6       True
721              Volcanion     Fire   Water  ...     70           6       True

[414 rows x 11 columns]

Q. select pokemons that have (type 1 grass and type 2 as steel) or have speed >10

In [ ]:
#Ans
#and is & , or is |

#Sort

In [51]:
#Can assign one or more column for sorting
#Return type is dataframe object

pokemon_data.sort_values(by=['HP','Attack','Defense','Speed'],ascending = [False,True,False,True],inplace=True)
pokemon_data.head(5)

          Name   Type 1 Type 2   HP  ...  Sp. Def  Speed  Generation  Legendary
#                                    ...
242    Blissey   Normal    nan  255  ...      135     55           2      False
113    Chansey   Normal    nan  250  ...      105     50           1      False
202  Wobbuffet  Psychic    nan  190  ...       58     33           2      False
321    Wailord    Water    nan  170  ...       45     60           3      False
594  Alomomola    Water    nan  165  ...       45     65           5      False

[5 rows x 11 columns]

#Groupby

used to perform some aggregate analysis based on values in some column

In [52]:
#Normal Group by
pokemon_data.groupby('Type 1').head(1)
#The above code displays the top row within each group.

                   Name    Type 1   Type 2  ...  Speed  Generation  Legendary
#                                           ...
242             Blissey    Normal      nan  ...     55           2      False
202           Wobbuffet   Psychic      nan  ...     33           2      False
321             Wailord     Water      nan  ...     60           3      False
426            Drifblim     Ghost   Flying  ...     80           4      False
297            Hariyama  Fighting      nan  ...     50           3      False
716             Xerneas     Fairy      nan  ...     99           6       True
717             Yveltal      Dark   Flying  ...     99           6       True
646  KyuremWhite Kyurem    Dragon      Ice  ...     95           5       True
699             Aurorus      Rock      Ice  ...     58           6      False
673              Gogoat     Grass      nan  ...     68           6      False
244               Entei      Fire      nan  ...    100           2       True
464           Rhyperior    Ground     Rock  ...     40           4      False
365             Walrein       Ice    Water  ...     65           3      False
89                  Muk    Poison      nan  ...     50           1      False
385             Jirachi     Steel  Psychic  ...    100           3       True
181            Ampharos  Electric      nan  ...     55           2      False
469             Yanmega       Bug   Flying  ...     95           4      False
715             Noivern    Flying   Dragon  ...    123           6      False

[18 rows x 11 columns]

In [53]:
#Aggregate Functions on groups
pokemon_data.groupby('Type 1').mean()

                 HP      Attack     Defense  ...       Speed  Generation  Legendary
Type 1                                       ...
Bug       56.884058   70.971014   70.724638  ...   61.681159    3.217391   0.000000
Dark      66.806452   88.387097   70.225806  ...   76.161290    4.032258   0.064516
Dragon    83.312500  112.125000   86.375000  ...   83.031250    3.875000   0.375000
Electric  59.795455   69.090909   66.295455  ...   84.500000    3.272727   0.090909
Fairy     74.117647   61.529412   65.705882  ...   48.588235    4.117647   0.058824
Fighting  69.851852   96.777778   65.925926  ...   66.074074    3.370370   0.000000
Fire      69.903846   84.769231   67.769231  ...   74.442308    3.211538   0.096154
Flying    70.750000   78.750000   66.250000  ...  102.500000    5.500000   0.500000
Ghost     64.437500   73.781250   81.187500  ...   64.343750    4.187500   0.062500
Grass     67.271429   73.214286   70.800000  ...   61.928571    3.357143   0.042857
Ground    73.781250   95.750000   84.843750  ...   63.906250    3.156250   0.125000
Ice       72.000000   72.750000   71.416667  ...   63.458333    3.541667   0.083333
Normal    77.275510   73.469388   59.846939  ...   71.551020    3.051020   0.020408
Poison    67.250000   74.678571   68.821429  ...   63.571429    2.535714   0.000000
Psychic   70.631579   71.456140   67.684211  ...   81.491228    3.385965   0.245614
Rock      65.363636   92.863636  100.795455  ...   55.909091    3.454545   0.090909
Steel     65.222222   92.703704  126.370370  ...   55.259259    3.851852   0.148148
Water     72.062500   74.151786   72.946429  ...   65.964286    2.857143   0.035714

[18 rows x 8 columns]

In [54]:
#groupby with more than 1 column
#order in which columns are specified is important
pokemon_data.groupby(['Type 2','Type 1']).mean()

                        HP      Attack  ...  Generation  Legendary
Type 2 Type 1                           ...
Bug    Poison    40.000000   50.000000  ...    4.000000   0.000000
       Rock      60.000000  110.000000  ...    3.000000   0.000000
Dark   Fighting  95.000000  124.000000  ...    6.000000   0.000000
       Ghost     50.000000   92.000000  ...    4.000000   0.000000
       Grass     76.666667   95.000000  ...    3.000000   0.000000
...                    ...         ...  ...         ...        ...
nan    Poison    66.000000   72.266667  ...    1.933333   0.000000
       Psychic   72.552632   64.947368  ...    3.342105   0.236842
       Rock      67.111111  103.333333  ...    3.888889   0.111111
       Steel     62.000000   90.000000  ...    4.200000   0.200000
       Water     66.847458   71.830508  ...    2.864407   0.050847

[154 rows x 8 columns]

#Apply

It can also be used to transform data

We use apply to manipulate/ create new data from existing info

syntax: df.apply('transformation code')

In [55]:
data = pd.DataFrame({
    'age' :     [ 10, 22, 34, 36, 48, 25, 61],
    'gender' :  [ 'M', 'F', 'F', 'M', 'M', 'M', 'F']
})
def category(age):
    if(0 < age <= 16):
        return 'child'
    elif(16 < age <= 22):
        return 'Teenager'
    elif(22 < age <= 50):
        return 'Adult'
    else:
        return 'Senior'  
        
data['category'] = data['age'].apply(category)

data.head(8)

   age gender  category
0   10      M     child
1   22      F  Teenager
2   34      F     Adult
3   36      M     Adult
4   48      M     Adult
5   25      M     Adult
6   61      F    Senior

#Interesting Facts
copy

In [194]:
#copy function will copy entire data to another variable and if we make some changes in pokemon_data, those changes will be not reflected in another assigned variable

diff_df = pokemon_data.copy()

#Try out some manipuation and check results for both dataframes
same_df = pokemon_data
same_df.drop('Type 1',axis=1,inplace=True)
print(same_df.columns)
print(diff_df.columns)

Index(['Name', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def',
       'Speed', 'Generation', 'Legendary', 'hp'],
      dtype='object')
Index(['Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary', 'hp'],
      dtype='object')

Q. As a data scientist you are asked to get the details of strongest pokemon for each category in type 2.
Criteria for strongest is HP, in case of clash it should be resolved by Attack then Defense and speed.

In [ ]:
#Ans

#Assignment
Amazon Transaction Data